<script src="/path/to/masonry.pkgd.min.js"></script>

  <% @haircut_photos.each do |haircut_photo| %>

    <div id="container masonry-container" class="item transitions-enabled infinite-scroll clearfix">

      <div class="box col3">

        <p>

         <%= image_tag haircut_photo.name(:medium)%>

        </p>
    
      </div>
       <% end %>
    </div>



<%= link_to 'New Haircut photo', new_haircut_photo_path %>
