


    <div id="masonry-container" class="item transitions-enabled infinite-scroll clearfix">
	   
  <% @haircut_photos.each do |haircut_photo| %>
    <div class="box col3">
      
        <%= image_tag haircut_photo.name(:medium)%>
        <br/>
        <p>Lorem ipsum</p>
  
    </div>
  <% end %>
    
  </div>


<%= link_to 'New Haircut photo', new_haircut_photo_path %>
