<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @haircut_type.title %>
</p>

<%= link_to 'Edit', edit_haircut_type_path(@haircut_type) %> |
<%= link_to 'Back', haircut_types_path %>
